

@mixin margin-top(){
  margin-top: 15px;
}
.file-upload{
  .upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }

  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
    @include margin-top();
  }

  .drop-zone-container{
    @include margin-top();
  }
  
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }
  #upload-form{
    .btn-group{
      @include margin-top();
      float: right;
    }
    .form-inline{
      .form-group{
        width: 100%;
      }
    }
    .input-group{
      width:100%;
      .custom-file{
        .custom-file-label{
          justify-content: left;
        }
      }
    }
    .progress{
      @include margin-top();
    }
    
  }
}